/*
font-family: 'Titillium Web', sans-serif;
  regular - 400
  semibold - 600
  bold - 700
font-family: 'Open Sans', sans-serif;
  regular - 400
  bold - 700
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #707070;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #1F80A9; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #155B79;
  text-decoration: none;
}

A:hover, A:active {
  color: #F15928;
  text-decoration: none;
}

UL, OL {
  margin: 0 0 0 0.7em;
  padding: 0 0 0 0.7em;
}

H2, H3, H4, H5 {
  margin: 0 0 0.25em;
  font-weight: 600;
  font-size: 68px;
  line-height: 1em;
}

H3 {
  font-size: 60px;
}

H4 {
  margin: 0 0 1em;
  font-weight: 700;
  font-size: 28px;
}

H5 {
  font-size: 20px;
}

INPUT[type="text"],
INPUT[type="email"],
INPUT[type="password"],
TEXTAREA {
  border: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.1em 0.7em;
  background: #155B79;
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  font-weight: 600;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  border-radius: 4px; /* I prefer my styles, Steve Jobs */
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
  margin-bottom: 1em;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(21,91,121,0.6);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(21,91,121,0.6);
  box-shadow: inset 0px 0px 10px 0px rgba(21,91,121,0.6);
}

TEXTAREA {
  padding: 0.5em 0.7em;
  height: 10em;
}

INPUT[type="text"]:focus,
INPUT[type="email"]:focus,
INPUT[type="password"]:focus,
TEXTAREA:focus {
  background: #1F80A9;
}

INPUT::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
INPUT:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
TEXTAREA:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

INPUT[type="submit"] {
  border: 0;
  box-sizing: border-box;
  padding: 0.6em 1.38em;
  border-radius: 10px;
  background: #F15928;
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
}

INPUT[type="submit"]:hover {
  background: #1F80A9;
}

INPUT[type="submit"]:focus {
  outline: none;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

A.orange-button:link,
A.orange-button:visited {
  color: #155B79;
  font-weight: 600;
  padding: 0.4em 0.8em;
  display: inline-block;
  border: 4px solid #F05A29;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

A.orange-button:hover,
A.orange-button:active {
  color: #F05A29;
  border-color: #155B79;
}

A.social:link, A.social:visited {
  color: #FFFFFF;
  line-height: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  border-top-right-radius: 0;
}

A.linkedin:link, A.linkedin:visited { background: #0093CC; }
A.youtube:link, A.youtube:visited { background: #E04E42; }
A.facebook:link, A.facebook:visited { background: #3b5b9b; }

A.social:hover, A.social:active {
  background: #27AAE1;
}

A.round-button:link,
A.round-button:visited {
  background: #F05A29;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1em;
  padding: 0.2em 0.8em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

A.round-button:hover,
A.round-button:active {
  background: #1F80A9;
  color: #FFFFFF;
}

IMG.right {
  float: right;
  margin-left: 2em;
}

IMG.left {
  float: left;
  margin-right: 2em;
}

IMG.round {
  border-radius: 50%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center { text-align: center; }
.flex { display: flex; }
.bluetext { color: #1F80A9; }

.one-half {
  float: left;
  width: 47%;
  margin-right: 6%;
}

.last {
  margin-right: 0;
}

.dw-header {
  background: #155B79;
  color: #FFFFFF;
  border-bottom: 1px solid #061921;
}

.dw-header .site-width {
  height: 129px;
}

.header-left {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-right {
  float: right;
  text-align: right;
  height: 129px;
  position: relative;
  width: 70%;
}

.top-menu {
  font-weight: 600;
  color: #26A5DB;
  padding-top: 0.8em;
}

.top-menu SPAN,
.top-menu SPAN A:link {
  font-weight: 700;
  color: #FFFFFF;
}

#menu-toggle,
#show-menu {
  display: none;
}

.menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu UL LI {
  float: left;
  margin-left: 2em;
  position: relative;
  z-index: 999;
  border-bottom: 5px solid transparent;
}

.menu UL LI:first-child {
  margin-left: 0;
}

.menu UL LI.mobile {
  display: none;
}

.menu UL LI:hover {
  border-bottom: 5px solid #27AAE1;
}

.menu UL LI A:link,
.menu UL LI A:visited,
.menu UL LI:hover A {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 0.9em;
  display: block;
}

.menu UL LI UL {
  display: none;
}

.menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 6px 0 0 0;
  padding: 0;
  list-style-type: none;
  background: #155B79;
}

.menu UL LI UL LI {
  float: none;
  margin-left: 0;
  border-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}

.menu UL LI UL LI:hover {
  border-bottom: 0;
}

.menu UL LI UL LI A:link,
.menu UL LI UL LI A:visited {
  display: block;
  white-space: nowrap;
  line-height: 1em;
  padding: 0.5em 1em;
}

.menu UL LI UL LI A:hover,
.menu UL LI UL LI A:active {
  background: #27AAE1;
}

.cycle-slideshow > DIV {
  width: 100%;
  height: 645px;
  background-position: center center;
  background-size: cover;
  display: none;
}

.cycle-slideshow > DIV:first-of-type {
  display: block;
}

.cycle-slideshow .overlay {
  background: rgba(0, 0, 0, .7);
}

.cycle-slideshow .site-width {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFFFFF;
  font-size: 175%;
  line-height: 1.2em;
}

.cycle-slideshow .site-width H2 {
  margin: 0 0 0.1em;
  font-weight: 600;
  font-size: 378%;
  line-height: 1em;
}

.cycle-slideshow .site-width H3 {
  margin: 0 0 0.8em;
  font-weight: 600;
  font-size: 186%;
  line-height: 1.1em;
}

.cycle-slideshow .site-width .orange {
  font-weight: 600;
  font-size: 71.42%;
  line-height: 1.2em;
  color: #F05A29;
}

.cycle-slideshow .site-width .banner-logos {
  margin-top: 1.2em;
}

.cycle-slideshow .site-width A:link,
.cycle-slideshow .site-width A:visited {
  color: #FFFFFF;
  font-size: 24px;
  padding: 0.2em 1em;
  margin-top: 1.2em;
}

.cycle-slideshow .site-width A:hover,
.cycle-slideshow .site-width A:active {
  color: #27AAE1;
  border-color: #FFFFFF;
}

.cycle-slideshow .site-width A.more-bike {
  margin-top: 2.5em;
}

.cycle-pager.vertical {
  position: absolute;
  top: 50%;
  right: calc(50% - 530px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 500;
}

.cycle-pager.vertical SPAN {
  margin: 0.3em 0;
  width: 8px;
  height: 8px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background: transparent;
}

.cycle-pager.vertical SPAN.cycle-pager-active { background: #BDBDBD; }

.banner {
  background: #27AAE1;
  color: #155B79;
  font-weight: 600;
  font-size: 181.25%;
  line-height: 1em;
  padding: 0.7em 0;
}

.banner .one-third {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  margin-right: 0;
  border-left: 1px solid #155B79;
  padding: 0.23em 0;
  text-align: center;
}

.banner .one-third:first-child {
  border: 0;
  text-align: left;
}

.banner A:link,
.banner A:visited {
  color: #0E3749;
}

.banner A:hover,
.banner A:active {
  color: #155B79;
}

.banner A IMG {
  vertical-align: -15%;
}

.wichmans {
  height: 658px;
  background: #18698B url(../images/wichmans.jpg) bottom center no-repeat;
  color: #082633;
  border-bottom: 1px solid #1F80A9;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(20,89,118,0.65);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(20,89,118,0.65);
  box-shadow: inset 0 7px 9px -4px rgba(20,89,118,0.65);
}

.wichmans.gray {
  height: 639px;
  background: #E1E1E1 url(../images/wichmans-gray.jpg) bottom center no-repeat;
  color: #155B79;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 87.5%;
}

.wichmans .site-width {
  padding-top: 2.5em;
}

.wichmans.gray .site-width {
  padding-top: 3em;
}

.wichman-left {
  float: left;
  width: 50%;
  padding-top: 1.5em;
}

.wichman-right {
  float: right;
  width: 50%;
  text-align: right;
}

.wl-wrap {
  float: right;
  -webkit-shape-outside: polygon(58% 20%, 100% 20%, 100% 100%, 40% 100%, 40% 50%);
  shape-outside: polygon(58% 20%, 100% 20%, 100% 100%, 40% 100%, 40% 50%);
  width: 100%;
  height: 250px;
}

.wr-wrap {
  float: left;
  -webkit-shape-outside: polygon(0 13%, 40% 13%, 50% 40%, 50% 100%, 0 100%);
  shape-outside: polygon(0 13%, 40% 13%, 50% 40%, 50% 100%, 0 100%);
  width: 100%;
  height: 250px;
}

.wichmans.gray .wr-wrap {
  shape-margin: 1em;
}

.wichmans H5 {
  margin: 0 0 0.5em;
  font-size: 143.75%;
  color: #EBEBEB;
}

.wichmans.gray H5 {
  font-family: 'Titillium Web', sans-serif;
  color: #0E3749;
}

.wichmans A.social:link,
.wichmans A.social:visited {
  font-size: 120%;
  margin: 1.8em 0;
}

.wichmans A.more:link,
.wichmans A.more:visited {
  background: #0E3749;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  padding: 0.3em 0.9em;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.wichmans A.more:hover,
.wichmans A.more:active {
  background: #27AAE1;
}

.content-home {
  color: #ACACAC;
  font-size: 106.25%;
  line-height: 1.5em;
  padding: 5em 0;
/*  -webkit-box-shadow: inset 0 7px 9px -4px rgba(25, 25, 25, 0.2);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(25, 25, 25, 0.2);
  box-shadow: inset 0 7px 9px -4px rgba(25, 25, 25, 0.2);*/
}

.content-home .col1 {
  float: left;
  width: 58%;
}

.content-home .col2 {
  float: right;
  width: 36%;
  font-weight: 600;
  font-size: 277%;
  line-height: 52px;
  color: #0E3749;
}

.content-home H2 {
  margin: 0 0 0.1em;
  font-weight: 600;
  font-size: 400%;
  line-height: 0.95em;
  color: #1F80A9;
}

.content-home A:link,
.content-home A:visited {
  color: #155B79;
  font-size: 22px;
  font-weight: 600;
  padding: 0.2em 1em;
  margin-top: 1.2em;
  display: inline-block;
  border: 4px solid #F05A29;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.content-home A:hover,
.content-home A:active {
  color: #F05A29;
  border-color: #155B79;
}

.content-home .col2 UL {
  margin: 0.2em 0 0 0;
  padding: 0;
  list-style-type: none;
}

.content-home .col2 UL LI {
  background-repeat: no-repeat;
  height: 52px;
  padding: 0 0 0.6em 75px;
}

.news-home {
  background: linear-gradient(to right, #1F80A9 0%, #1F80A9 50%, #155B79 50%, #155B79 100%);
  color: #FFFFFF;
  padding: 3em 0;
  -webkit-box-shadow: 0 -7px 9px -4px rgba(25, 25, 25, 0.2);
  -moz-box-shadow: 0 -7px 9px -4px rgba(25, 25, 25, 0.2);
  box-shadow: 0 -7px 9px -4px rgba(25, 25, 25, 0.2);
}

.news-home .header {
  color: #E1E1E1;
  font-weight: 600;
  font-size: 156.25%;
  line-height: 1em;
  padding-bottom: 3.3em;
  position: relative;
}

.news-home .header IMG {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 75%;
  right: 13%;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

.news-home .col1 {
  float: left;
  width: 45%;
}

.news-home .col2 {
  float: right;
  width: 45%;
}

.news-home .post-date {
  font-weight: 600;
  font-size: 75%;
  line-height: 1em;
  text-transform: uppercase;
  color: #E1E1E1;
}

.news-home H3 {
  font-weight: 700;
  font-size: 212.5%;
  line-height: 1em;
  text-transform: uppercase;
  color: #0E3749;
  margin: 0.2em 0 0.5em;
}

.news-home .col2 H3 {
  color: #2496C6;
}

.news-home A.readmore:link,
.news-home A.readmore:visited {
  color: #FFFFFF;
  font-weight: 600;
  padding: 0.2em 1em;
  display: inline-block;
  border: 4px solid #155B79;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 3em;
}

.news-home .col2 A.readmore:link,
.news-home .col2 A.readmore:visited {
  border-color: #2496C6;
}

.news-home A.readmore:hover,
.news-home A.readmore:active,
.news-home .col2 A.readmore:hover,
.news-home .col2 A.readmore:active {
  color: #DDDDDD;
  border-color: #FFFFFF;
}

.testimonials-home {
  background: #F1F2F2;
  color: #464646;
  padding: 3em 0;
  text-align: center;
  font-size: 112.5%;
/*  -webkit-box-shadow: inset 0 7px 9px -4px rgba(25, 25, 25, 0.2);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(25, 25, 25, 0.2);
  box-shadow: inset 0 7px 9px -4px rgba(25, 25, 25, 0.2);*/
}

.testimonials-home .cycle-slideshow {
  position: relative;
  padding-bottom: 1.5em;
}

.testimonials-home .cycle-slideshow > DIV {
  height: auto;
}

.testimonials-home .cycle-pager {
  position: absolute;
  bottom: -2em;
  z-index: 500;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: center;
}

.testimonials-home .cycle-pager SPAN {
  margin: 0 0.1em;
  width: 10px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  background: #B5B5B5;
}

.testimonials-home .cycle-pager SPAN.cycle-pager-active { background: #1F80A9; }

.dw-footer {
  padding: 3em 0 0;
}

.dw-footer UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dw-footer UL LI {
  float: left;
  width: 22%;
  margin-left: 4%;
}

.dw-footer UL LI:first-child {
  margin-left: 0;
}

.dw-footer UL LI.contact,
.dw-footer UL LI.mobile {
  display: none;
}

.dw-footer UL LI A:link,
.dw-footer UL LI A:visited {
  color: #155B79;
  font-size: 162.5%;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 0.6em;
}

.dw-footer UL LI A:hover,
.dw-footer UL LI A:active {
  color: #27AAE1;
}

.dw-footer UL LI UL LI {
  float: none;
  width: inherit;
  margin-left: 0;
  padding: 0.65em 1.5em 0.65em 0;
  border-bottom: 1px solid #E1E1E1;
}

.dw-footer UL LI UL LI.nofooter {
  display: none;
}

.dw-footer UL LI UL LI:first-child {
  border-top: 1px solid #E1E1E1;
}

.dw-footer UL LI UL LI A:link,
.dw-footer UL LI UL LI A:visited {
  color: #707070;
  font-size: 112.5%;
  font-weight: 600;
  padding-bottom: 0;
}

.dw-footer UL LI UL LI A:hover,
.dw-footer UL LI UL LI A:active {
  color: #27AAE1;
}

DIV.social {
  padding-top: 1em;
}

DIV.social A {
  margin-right: 0.3em;
}

.copyright {
  font-size: 87.5%;
  line-height: 1em;
  padding: 3em 0 1em;
}

.blog-index, .blog-single {
  height: 277px;
  background-image: url(../images/header-news.jpg);
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 375%;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
}

.blog-single {
  height: 448px;
  font-size: 450%;
  line-height: 1.2em;
}

.overlay {
  background: rgba(0, 0, 0, 0.45);
  height: inherit;
}

.blog-single H5 {
  font-size: 16px;
  line-height: 1em;
  margin: 3em 0 0;
}

.blog-index .site-width,
.blog-single .site-width {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.entry-header {
  padding-top: 6em;
  text-align: center;
  text-transform: uppercase;
}

.entry-header H3 {
  margin: 0 0 0.6em;
  line-height: 1.1em;
  font-size: 450%;
  font-weight: 700;
  color: #1F80A9;
}

.entry-header H4 {
  margin: 0 0 2.5em;
  font-weight: 700;
  color: #1F80A9;
}

.entry-content {
  text-align: center;
  font-size: 118.75%;
  line-height: 1.6em;
  color: #636262;
  padding-bottom: 5em;
}

.entry-content.single {
  padding: 2.5em 0;
  text-align: left;
}

.entry-content A.readmore:link,
.entry-content A.readmore:visited {
  color: #155B79;
  font-size: 22px;
  font-weight: 600;
  padding: 0.2em 1em;
  margin-top: 1.2em;
  display: inline-block;
  border: 4px solid #F05A29;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.entry-content A.readmore:hover,
.entry-content A.readmore:active {
  color: #F05A29;
  border-color: #155B79;
}

#content HR:last-of-type {
  display: none;
}

.elm-wrapper {
  margin: 0;
  background: #1F80A9;
  padding: 3.6em;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

.elm-button {
  background: transparent;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.2em 1em;
  display: inline-block;
  border: 4px solid #155B79;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
}

.elm-button:hover,
.elm-button:active,
.elm-button:focus {
  background: transparent !important;
  color: #DDDDDD;
  border-color: #FFFFFF;
}

.entry-content .tags-links {
  font-size: 14px;
}

.entry-content IMG {
  max-width: 100%;
  height: auto;
}

.entry-content .video {
  margin: 2em 0;
}

.footer-nav {
  background: #1F80A9;
  padding: 3.1em 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1em;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

.footer-nav .nav-prev,
.footer-nav .nav-home,
.footer-nav .nav-next {
  float: left;
  width: 33.33%;
  min-height: 1em;
}

.footer-nav .nav-home {
  text-align: center;
}

.footer-nav .nav-next {
  float: right;
  text-align: right;
}

.footer-nav A:link,
.footer-nav A:visited {
  color: #FFFFFF;
}

.footer-nav A:hover,
.footer-nav A:active {
  color: #F05A29;
}

.navigation {
  display: none;
}

.sub-header {
  background: #1F80A9;
  color: #FFFFFF;
  font-size: 106.25%;
  line-height: 1.8em;
  padding: 4em 0;
}

.sub-header A.sh-menu:link,
.sub-header A.sh-menu:visited {
  color: #FFFFFF;
}

.sub-header A.sh-menu:hover,
.sub-header A.sh-menu:active {
  color: #0E3749;;
}

.sub-header A.sh-menu:before {
  content: "\00b7";
  margin: 0 1em;
  color: #FFFFFF;
}

.sub-header A.sh-menu:first-of-type:before {
  content: "";
  margin: 0;
}

.sub-footer {
  background: #F1F2F2;
  padding: 5em 0;
  text-align: center;
}

.sub-footer-blue {
  background: #1F80A9;
}

.sub-footer A.orange-button:link,
.sub-footer A.orange-button:visited {
  color: #155B79;
  padding: 0.6em 0.8em;
  border: 3px solid #1F80A9;
  font-size: 112.5%;
}

.sub-footer A.orange-button:hover,
.sub-footer A.orange-button:active {
  color: #1F80A9;
}

.sub-footer-blue A.orange-button:link,
.sub-footer-blue A.orange-button:visited {
  color: #FFFFFF;
  border: 3px solid #166080;
}

.sub-footer-blue A.orange-button:hover,
.sub-footer-blue A.orange-button:active {
  color: #166080;
}

.our-practice-header {
  font-size: 112.5%;
  padding: 3em 0;
}

.our-practice-header H2 {
  font-size: 472.22%;
}

.our-practice-header H3 {
  font-size: 377.77%;
}

.our-practice {
  padding: 3.5em 0;
  font-size: 106.25%;
  line-height: 1.6em;
  color: #9D9D9D;
}

.our-practice H3 {
  font-size: 205.88%;
  font-weight: 700;
  color: #1F80A9;
}

.our-practice A.orange-button:link,
.our-practice A.orange-button:visited {
  font-size: 93.75%;
  border-width: 3px;
  margin-top: 2em;
  float: right;
}

.affiliated {
  padding: 3em 0;
  background: #1F80A9;
  color: #FFFFFF;
  font-size: 106.25%;
  margin-top: 7em;
  -webkit-box-shadow: 0 -7px 9px -4px rgba(25, 25, 25, 0.2);
  -moz-box-shadow: 0 -7px 9px -4px rgba(25, 25, 25, 0.2);
  box-shadow: 0 -7px 9px -4px rgba(25, 25, 25, 0.2);
}

.affiliated-dark {
  background: #0E3749;
  margin-top: 0;
}

.affiliated .col1 {
  float: left;
  width: 39.5%;
  font-size: 129%;
  font-weight: 600;
  position: relative;
  padding-top: 7.7em;
}

.affiliated-dark .col1 {
  text-align: right;
  width: 28.8%;
  padding-top: 0;
}

.affiliated .col1 .ah-pic {
  position: absolute;
  top: -7em;
  left: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  max-width: 100%;
  height: auto;
}

.affiliated .col1 A:link,
.affiliated .col1 A:visited {
  font-size: 55%;
  color: #1F80A9;
}

.affiliated .col1 A:hover,
.affiliated .col1 A:active {
  color: #F05A29;
}

.affiliated .col1 UL {
  margin: 0 0 0 0.4em;
  padding: 0 0 0 0.4em;
  list-style-type: none;
}

.affiliated-dark .col1 UL {
  margin: 0 0.4em 0 0;
  padding: 0 0.4em 0 0;
  direction: rtl;
  font-size: 72.72%;
}

.affiliated .col1 UL LI {
  padding-top: 1.25em;
  line-height: 1em;
}

.affiliated-dark .col1 UL LI {
  padding-top: 2em;
}

.affiliated .col1 UL LI:before {
  font-family: Arial, Helvetica, sans-serif;
  content: "\2022";
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -0.8em;
  color: #FFFFFF;
}

.affiliated-dark .col1 UL LI:before {
  right: -0.8em;
}

.affiliated-dark .col1 A.orange-button:link,
.affiliated-dark .col1 A.orange-button:visited {
  color: #FFFFFF;
  border: 4px solid #F05A29;
  font-size: 68.18%;
}

.affiliated-dark .col1 A.orange-button:hover,
.affiliated-dark .col1 A.orange-button:active {
  color: #F05A29;
  border-color: #F05A29;
}

.affiliated .col2 {
  float: right;
  width: 56.2%;
  line-height: 1.8em;
}

.affiliated-dark .col2 {
  width: 67.5%;
}

.affiliated .col2 H3 {
  margin: 0 0 0.5em;
  font-size: 311%;
  color: #0E3749;
}

.affiliated-dark .col2 H3 {
  color: #1F80A9;
}

.carousel {
  position: relative;
}

.carousel .carousel-buttons {
  width: 100%;
  position: absolute;
  top: 42%;
}

.carousel .carousel-buttons #prev,
.carousel .carousel-buttons #next {
  display: inline-block;
  font-size: 40px;
  line-height: 1em;
  float: left;
}

.carousel .carousel-buttons #next {
  float: right;
}

.carousel A:link, .carousel A:visited {
  color: #868279;
}

.carousel A:hover, .carousel A:active {
  color: #252525;
}

.carousel .carousel-shadow {
  height: 1em;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(25,25,25,0.3);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(25,25,25,0.3);
  box-shadow: inset 0 7px 9px -4px rgba(25,25,25,0.3);
}

.team {
  padding: 4em 0;
}

.team-left {
  float: left;
  width: 28.5%;
  text-align: center;
}

.team-right {
  float: right;
  width: 65%;
}

.team-left .main-image {
  position: relative;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 2em;
}

.team-left .main-image:after {
  padding-top: 100%;
  display: block;
  content: '';
}

.team-left A.swipebox {
  font-weight: 700;
}

.team-left .gallery {
  padding-top: 4em;
}

.team-left:after {
  content: "";
  display: table;
  clear: both;
}

.team-left .gallery A {
  position: relative;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  width: 26.3%;
  margin: 0.5em 2%;
}

.team-left .gallery A:after {
  padding-top: 100%;
  display: block;
  content: '';
}

.appointments-header {
  font-size: 131.25%;
  padding: 3em 0;
}

.appointments-header H2 {
  font-size: 295.23%;
}

.appointments-header SPAN,
.appointments-header A:link {
  color: #092734;
}

.appointments-gray {
  background: #F1F2F2;
  color: #757575;
  font-size: 106.25%;
  line-height: 1.8em;
  border-bottom: 1px solid #1F80A9;
  padding: 4em 0;
}

.appointments-gray H3 {
  margin: 0.1em 0 0.3em;
  color: #0E3749;
  font-weight: 700;
  font-size: 141.17%;
}

.appointments-locations {
  position: relative;
}

.appointments-locations .list {
  width: 29%;
  padding: 4em 3.7% 4em 0;
  color: #767676;
}

.appointments-locations .list H3 {
  margin: 0 0 0.8em;
  color: #092734;
  font-weight: 700;
  font-size: 200%;
}

.appointments-locations .list H3 SPAN {
  color: #1F80A9;
}

.appointments-locations .list .loc-num {
  float: left;
  width: 8%;
  color: #1F80A9;
  font-weight: 700;
  font-size: 112.5%;
  line-height: 1em;
}

.appointments-locations .list .loc-loc {
  float: left;
  width: 92%;
  font-size: 93.75%;
  line-height: 1.3em;
}

.appointments-locations .list .loc-doc,
.gm-style .gm-style-iw .loc-doc {
  font-size: 80%;
  line-height: 1.4em;
}

.appointments-locations .list .loc-clear {
  clear: both;
  height: 1.5em;
}

.appointments-locations .list .loc-phone,
.appointments-locations .list .loc-phone A {
  margin-top: 1.5em;
  color: #0C3243;
  font-weight: 700;
}

.appointments-locations #map-canvas {
  position: absolute !important;
  top: 0;
  left: 38.5%;
  right: 0;
  bottom: 0;
}

.appointments-banner-footer {
  background: #1F80A9;
  color: #FFFFFF;
  font-size: 112.5%;
  line-height: 1em;
  padding: 3em 0;
  border-top: 1px solid #FFFFFF;
}

.appointments-banner-footer H2 {
  margin-bottom: 0.8em;
  font-size: 322.22%;
}

.appointments-banner-footer A.orange-button:link,
.appointments-banner-footer A.orange-button:visited {
  color: #FFFFFF;
  border-color: #155B79;
  margin: 0 1.6%;
}

.appointments-banner-footer A.orange-button:hover,
.appointments-banner-footer A.orange-button:active {
  color: #155B79;
  border-color: #F05A29;
}

.sports-medicine {
  padding: 6em 0;
  font-size: 106.25%;
  line-height: 1.8em;
  color: #939393;
}

.sports-medicine .one-third {
  float: left;
  width: 29.6%;
  margin-right: 5.6%;
  text-align: center;
  line-height: 1.6em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sports-medicine .one-third:last-of-type {
  margin-right: 0;
}

.sports-medicine .icon {
  margin: 0 auto;
  width: 81.08%;
  border: 3px solid #D7D7D7;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.sports-medicine .icon:after {
  padding-top: 100%;
  display: block;
  content: '';
}

.sports-medicine H3 {
  margin: 0.6em 0 0.5em;
  font-size: 352.94%;
  color: #0E3749;
}

.sports-medicine H4 {
  font-size: 164.7%;
  color: #0E3749;
}

.sports-medicine H5 {
  font-weight: 700;
  font-size: 129.41%;
  color: #1F80A9;
}

.sports-medicine .text {
  padding-bottom: 3em;
}

.sports-medicine .link {
  margin-top: auto;
  align-self: center;
}

.sports-medicine HR {
  border-top: 1pt solid #939393;
}

.sports-medicine IMG {
  max-width: 100%;
  height: auto;
}

.hip {
  float: left;
  width: 20.5%;
  margin-right: 5%;
  font-size: 87.5%;
  line-height: 1.5em;
}

.education UL {
  color: #1F80A9;
  line-height: 1.1em;
}

.education UL LI {
  padding-bottom: 1.4em;
}

.education UL A:link,
.education UL A:visited {
  color: #939393;
  font-weight: 600;
  font-size: 105.88%;
}

.education UL A:hover,
.education UL A:active {
  color: #F15928;
}

.contact-header H2 {
  margin: 0;
}

.contact-top {
  padding: 4em 0;
  text-align: center;
  font-size: 125%;
}

.contact-top STRONG {
  font-weight: 600;
  color: #1F80A9;
}

.contact-top A:link,
.contact-top A:visited {
  color: #1F80A9;
  text-decoration: underline;
}

.contact-top A:hover,
.contact-top A:active {
  color: #F15928;
  text-decoration: underline;
}

.contact-form {
  padding: 4em 0;
}

#contact-form,
#mc-embedded-subscribe-form {
  width: 73.3%;
  margin: 0 auto;
  font-size: 106.25%;
}

#contact-form .required,
#mc-embedded-subscribe-form .required {
  font-size: 14px;
  color: #1F80A9;
  padding-bottom: 1em;
}

.radio LABEL,
.checkbox LABEL {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.3em;
  margin: 0 0.5em;
}

.checkbox LABEL { margin-left: 0; }

.radio INPUT[type="radio"],
.checkbox INPUT[type="checkbox"] {
  display: none;
}

.radio LABEL:after,
.checkbox LABEL:after {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  position: absolute;
  left: 0;
  bottom: 0.25em;
  background: #155B79;
  border-radius: 8px;
}

.radio INPUT[type="radio"]:checked + LABEL:after,
.checkbox INPUT[type="checkbox"]:checked + LABEL:after {
  background: #EBEBEB;
  -webkit-box-shadow:inset 0px 0px 0px 3px #155B79;
  -moz-box-shadow:inset 0px 0px 0px 3px #155B79;
  box-shadow:inset 0px 0px 0px 3px #155B79;
}

#contact-form-messages,
#mce-responses {
  line-height: 1em;
  min-height: 1em;
  color: #F15928;
  margin: 1.7em 0;
  text-align: center;
}

.testimonials {
  padding: 5em 0;
}

.publications STRONG {
  color: #1F80A9;
}

.publications LI STRONG {
  color: #939393;
}

.patient-care {
  padding: 5em 0;
  font-size: 17px;
}

.patient-care H3 {
  font-size: 62px;
  font-weight: bold;
  color: #0E3749;
  margin-bottom: 0.6em;
}

.patient-care H4 {
  font-size: 22px;
  font-weight: bold;
  color: #1F80A9;
  margin-bottom: 0.75em;
}

.patient-care A.orange-button:link,
.patient-care A.orange-button:visited {
  color: #F05A29;
  margin-top: 1.5em;
}

.patient-care A.orange-button:hover,
.patient-care A.orange-button:active {
  color: #155B79;
  border-color: #155B79;
}

.patient-care HR {
  margin: 5em 0;
  border-top-color: #E1E1E1;
}

.patient-care A.poci:link,
.patient-care A.poci:visited {
  color: #F05A29;
  font-weight: bold;
  font-size: 22px;
}

.patient-care A.poci:hover,
.patient-care A.poci:active {
  color: #155B79;
}

.patient-care A.poci:before {
  font-family: 'FontAwesome';
  content: "\f01a";
  margin-right: 0.5em;
  color: #C7C8CA;
  font-weight: normal;
}

.patient-care > OL {
  list-style-type: none;
  counter-reset: item;
}

.patient-care > OL > LI {
  position: relative;
  padding-bottom: 1em;
}

.patient-care > OL > LI:before {
  counter-increment: item;
  content: counter(item) ".";
  position: absolute;
  left: -1.4em;
  font-weight: bold;
}

.patient-care > OL > LI > UL {
  list-style-type: none;
}

.patient-care > OL > LI > UL > LI {
  padding: 1em 0 0;
}

.patient-care > OL > LI > UL > LI:before {
  content: "-";
  font-weight: normal;
  margin-right: 0.5em;
}

.patient-care > UL {
  list-style-type: none;
}

.patient-care > UL > LI {
  padding: 0.4em 0;
  position: relative;
}

.patient-care > UL > LI:before {
  content: "-";
  position: absolute;
  left: -1em;
}

.patient-care > UL > LI > UL {
  margin-top: 0.3em;
  list-style-type: square;
}

.patient-care > UL > LI > UL > LI {
  padding: 0.3em 0;
}

.patient-care > UL > LI > UL >LI > UL {
  margin-top: 0.3em;
  list-style-type: disc;
}

.patient-care > UL > LI > UL > LI > UL > LI {
  padding: 0.3em 0;
}

.post-op-footer {
  padding: 4em 0;
  background: #1F80A9;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 1.8em
}

.post-op-footer H2 {
  margin-bottom: 0.5em;
  color: #002434;
  font-weight: bold;
  font-size: 40px;
  line-height: 1em;
}

.post-op-footer .pof-left {
  float: left;
  width: 47%;
}

.post-op-footer .pof-right {
  float: right;
  width: 50%;
  line-height: 1.4em;
}

.post-op-footer .pof-right UL {
  margin-left: 1em;
  list-style-type: none;
}

.post-op-footer .pof-right UL LI {
  padding-top: 1.3em;
}

.post-op-footer .pof-right UL LI:first-child {
  padding-top: 0;
}

.post-op-footer .pof-right A:link,
.post-op-footer .pof-right A:visited {
  color: #00354B;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}

.post-op-footer .pof-right A:hover,
.post-op-footer .pof-right A:active {
  color: #FFFFFF;
}

.post-op-footer .pof-right A:before {
  font-family: 'FontAwesome';
  content: "\f01a";
  color: #C7C8CA;
  font-weight: normal;
  position: absolute;
  left: -1.2em;
}



@media only screen and (max-width: 1086px) {
  .cycle-pager.vertical {
    right: 0.5%;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .site-width {
    width: 96%;
  }

  .header-right {
    width: auto;
  }

  #menu-toggle {
    display: block;
    cursor: pointer;
    margin-top: 25px;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 200;
  }

  #menu-toggle:before {
    content: "MENU";
    position: relative;
    top: 17px;
    margin-right: 0.3em;
  }

  #menu-toggle:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
    position: relative;
    top: 17px;
  }

  #show-menu:checked + #menu-toggle:before {
    content: "CLOSE";
  }

  #show-menu:checked + #menu-toggle:after {
    content: "\f00d";
  }

  #show-menu:checked + #menu-toggle + .menu {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 130px;
    left: 0;
    z-index: 999;
  }

  .menu UL {
    background: #155B79;
    background: rgba(21,91,121,0.95);
  }

  .menu UL LI {
    float: none;
    margin-left: 0;
    border-bottom: 0;
  }

  .menu UL LI:hover {
    border-bottom: 0;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI:hover A,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited {
    padding: 0.6em 0;
    text-align: center;
    background: transparent;
  }

  .menu UL LI A:hover,
  .menu UL LI A:active,
  .menu UL LI UL LI A:hover,
  .menu UL LI UL LI A:active {
    color: #27AAE1;
  }

  .menu UL LI A.drop:after {
    font-family: FontAwesome;
    content: '\f107';
    color: #27AAE1;
    margin-left: 0.5em;
  }

  .menu UL LI:hover UL {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    background: transparent;
  }

  .banner {
    font-size: 140%;
  }

  .banner A IMG {
    height: 1em;
    width: auto;
  }

  .wichmans,
  .wichmans.gray {
    height: 520px;
    background-size: 100% auto;
  }

  .wichmans .site-width {
    padding-top: 1.5em;
  }

  .wichmans.gray .site-width {
    padding-top: 2.5em;
  }

  .wichman-left {
    padding-top: 2em;
  }

  .wichmans.gray .wr-wrap {
    shape-margin: 0;
  }

  .content-home .col2 {
    font-size: 200%;
  }

  .content-home .col2 UL LI {
    padding-left: 65px;
  }

  .news-home .header IMG {
    right: 8%;
  }

  .dw-footer UL {
    text-align: center;
  }

  .dw-footer UL:after {
    content: "";
    display: table;
    clear: both;
  }

  .dw-footer UL LI {
    width: 40%;
    margin-left: 10%;
    float: none;
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }

  .dw-footer UL LI:nth-child(3) {
    clear: left;
    margin-left: 0;
  }

  .dw-footer UL LI:nth-child(3),
  .dw-footer UL LI:nth-child(4) {
    padding-top: 2em;
  }

  .dw-footer UL LI UL LI {
    display: block;
    text-align: left;
    width: inherit;
  }

  .dw-footer UL LI UL LI:nth-child(3),
  .dw-footer UL LI UL LI:nth-child(4) {
    padding-top: 0.65em;
  }

  .affiliated {
    margin-top: 6em;
  }

  .affiliated .col1 {
    padding-top: 5.8em;
  }

  .affiliated-dark .col1 {
    padding-top: 0;
  }

  .affiliated .col1 .ah-pic {
    top: -5.8em;
  }

  .team-left .gallery A {
    width: 45%;
  }

  .appointments-header SPAN {
    display: block;
  }

  .appointments-locations .list H3 SPAN,
  .appointments-locations .list .loc-phone SPAN {
    display: block;
  }

  .appointments-locations .list .loc-num {
    width: 10%;
  }

  .appointments-locations .list .loc-loc {
    width: 90%;
  }

  .appointments-locations #map-canvas {
    left: 34.5%;
  }

  .sports-medicine .icon {
    background-size: auto 70%;
  }

  .sports-medicine H3 {
    font-size: 250%;
  }

  .hip {
    width: 30%;
  }

  .sub-header A.sh-menu:before {
    content: "\A";
    white-space: pre;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .one-half {
    float: none;
    width: 100%;
    margin: 0 0 5em;
  }

  .one-half.last {
    float: none;
    width: 100%;
    margin: 0;
  }

  .cycle-slideshow .site-width H3 {
    margin: 0 0 0.4em;
    line-height: 1em;
  }

  .cycle-slideshow .site-width .banner-logos,
  .cycle-slideshow .site-width A:link,
  .cycle-slideshow .site-width A:visited {
    margin-top: 1em;
  }

  .banner {
    font-size: 181.25%;
    padding: 0;
  }

  .banner A IMG {
    height: auto;
  }

  .banner .one-third {
    float: none;
    width: 100%;
    border-left: 0;
    border-top: 1px solid #155B79;
    padding: 0.9em;
  }

  .banner .one-third:first-child {
    text-align: center;
  }

  .wichmans,
  .wichmans.gray {
    height: 380px;
    background-size: 94% auto;
  }

  .wichmans.gray .site-width {
    padding-top: 1.5em;
  }

  .wichman-left {
    padding-top: 1em;
  }

  .wichman-right {
    width: 48%;
  }

  .wichmans H5 {
    font-size: 122%;
    margin-bottom: 0.2em;
  }

  .content-home .col1,
  .content-home .col2 {
    float: none;
    width: 100%;
  }

  .content-home .col2 {
    font-size: 277%;
    padding-top: 1em;
  }

  .content-home .col2 UL LI {
    padding-left: 75px;
  }

  .news-home {
    background: linear-gradient(to bottom, #1F80A9 0%, #1F80A9 50%, #155B79 50%, #155B79 100%);
    padding: 0;
  }

  .news-home .site-width {
    width: 100%;
  }

  .news-home .header {
    box-sizing: border-box;
    padding: 2em 2% 0;
  }

  .news-home .header IMG {
    display: none;
  }

  .news-home .col1,
  .news-home .col2 {
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 3em 2%;
  }

  .news-home .col1 {
    background: #1F80A9;
  }

  .news-home .col2 {
    background: #155B79;
  }

  .affiliated .col1,
  .affiliated .col2 {
    float: none;
    width: 100%;
  }

  .affiliated .col1 {
    padding-top: 1.5em;
  }

  .affiliated .col1 .ah-pic {
    position: static;
    margin-bottom: 1.5em;
  }

  .team-left,
  .team-right {
    float: none;
    width: 100%;
  }

  .team-left {
    padding-bottom: 2em;
  }

  .team-left .image {
    float: left;
    width: 50%;
  }

  .team-left .gallery {
    float: right;
    width: 50%;
    padding: 0;
  }

  .team-left .gallery A {
    width: 33%;
  }

  .appointments-locations .list {
    width: 96%;
  }

  .appointments-locations #map-canvas {
    position: static !important;
    left: 0;
    width: 100%;
    height: 500px;
  }

  .appointments-locations .list H3 SPAN,
  .appointments-locations .list .loc-phone SPAN {
    display: inline;
  }

  .sports-medicine {
    padding: 3em 0;
    display: block;
  }

  .sports-medicine .one-third {
    float: none;
    width: 100%;
    margin: 0;
    display: block;
    text-align: left;
    padding: 3em 0;
  }

  .sports-medicine .icon {
    float: left;
    width: 29.6%;
    margin-top: 0.75em;
    margin-right: 3%;
  }

  .sports-medicine H3 {
    margin: 0 0 0.25em;
    font-size: 352.94%;
  }

  .sports-medicine .text {
    padding-bottom: 1.5em;
  }

  .sports-medicine .link {
    text-align: right;
  }

  .hip {
    width: 37%;
  }

  #contact-form {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  IMG.right,
  IMG.left {
    float: none;
    margin: 2em auto;
    display: block;
    max-width: 100%;
  }

  .header-left {
    width: auto;
    width: 60%;
  }

  #logo {
    max-width: 100%;
    height: auto;
  }

  .header-right {
    position: static;
  }

  .top-menu {
    display: none;
  }

  #menu-toggle {
    margin-top: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #menu-toggle:before,
  #menu-toggle:after {
    top: 0;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI:hover A,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited {
    font-size: 160%;
  }

  .menu UL LI.mobile {
    display: block;
  }

  .menu UL LI.mobile A:link,
  .menu UL LI.mobile A:visited {
    color: #27AAE1;
  }

  .cycle-slideshow .site-width H2 {
    font-size: 250%;
    line-height: 0.9em;
    margin: 0 0 0.4em;
  }

  .cycle-slideshow .site-width H3 {
    font-size: 140%;
  }

  .cycle-slideshow .site-width .banner-logos,
  .cycle-slideshow .site-width A:link,
  .cycle-slideshow .site-width A:visited {
    margin-top: 0.2em;
  }

  .cycle-slideshow .site-width .banner-logos IMG {
    width: 31%;
    height: auto;
    vertical-align: middle;
  }

  .cycle-slideshow .site-width A.more-bike {
    margin-top: 2em;
  }

  .banner {
    font-size: 159%;
  }

  .banner A IMG {
    height: 1em;
  }

  .sub-header H2 {
    font-size: 46px;
  }

  .wichmans,
  .wichmans.gray {
    height: 280px;
    font-size: 80%;
    line-height: 1.2em;
  }

  .wichman-left {
    width: 49%;
    padding-top: 0.6em;
  }

  .wichmans.gray .wichman-left {
    padding-top: 2em;
  }

  .wichman-right {
    width: 48%;
  }

  .wl-wrap {
    -webkit-shape-outside: polygon(55% 26%, 100% 26%, 100% 100%, 40% 50%);
    shape-outside: polygon(55% 26%, 100% 26%, 100% 100%, 40% 50%);
  }

  .wr-wrap {
    -webkit-shape-outside: polygon(0 18%, 40% 18%, 48% 45%, 0 100%);
    shape-outside: polygon(0 18%, 40% 18%, 48% 45%, 0 100%);
  }

  .wichmans H5 {
    font-size: 100%;
    margin-bottom: 0.2em;
  }

  .wichmans A.more:link,
  .wichmans A.more:visited {
    font-size: 80%;
    padding: 0.4em 0.9em;
  }

  .content-home H2 {
    font-size: 300%;
  }

  .content-home .col2 {
    font-size: 240%;
  }

  .content-home .col2 UL LI {
    padding-left: 70px;
  }

  .entry-header H3,
  .blog-single {
    font-size: 350%;
  }

  .our-practice-header H3 {
    font-size: 300%;
  }

  .team-left .image,
  .team-left .gallery {
    float: none;
    width: 100%;
  }

  .team-left .gallery {
    padding-top: 2em;
  }

  .team-left .gallery A {
    width: 45%;
  }

  .appointments-header H2 {
    font-size: 230%;
  }

  .appointments-banner-footer H2 {
    font-size: 300%;
  }

  .appointments-banner-footer A.orange-button:link,
  .appointments-banner-footer A.orange-button:visited {
    margin: 1em 0;
  }

  .sports-medicine .one-third {
    text-align: center;
  }

  .sports-medicine .icon {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  .sports-medicine H3 {
    margin: 0.6em 0 0.5em;
  }

  .sports-medicine .link {
    text-align: center;
  }

  .hip {
    width: 48%;
    margin-right: 0;
  }

  .hip:first-of-type {
    margin-right: 4%;
  }

  .radio {
    display: block;
  }

  .radio LABEL:first-of-type {
    margin-left: 0;
  }

  .checkbox LABEL:after {
    top: 0.2em;
  }

  .patient-care H3 {
    font-size: 56px;
  }

  .post-op-footer .pof-left,
  .post-op-footer .pof-right {
    float: none;
    width: 100%;
  }

  .post-op-footer .pof-left {
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 390px) {
  /* Small Phone */
  .sub-header H2 {
    font-size: 38px;
  }

  .wichman-left {
    padding-top: 0.7em;
  }

  .wl-wrap {
    -webkit-shape-outside: polygon(55% 30%, 100% 30%, 100% 100%, 40% 50%);
    shape-outside: polygon(55% 30%, 100% 30%, 100% 100%, 40% 50%);
  }

  .wr-wrap {
    -webkit-shape-outside: polygon(0 30%, 40% 30%, 48% 45%, 0 100%);
    shape-outside: polygon(0 30%, 40% 30%, 48% 45%, 0 100%);
  }

  .wichmans H5 {
    font-size: 82%;
  }

  .wichmans A.social:link,
  .wichmans A.social:visited {
    margin: 1.5em 0;
  }

  .entry-header H3,
  .blog-single {
    font-size: 300%;
  }

  .our-practice-header H2 {
    font-size: 400%;
  }

  .appointments-header H2 {
    font-size: 200%;
  }

  .appointments-banner-footer H2 {
    font-size: 250%;
  }

  .patient-care H3 {
    font-size: 46px;
  }
}