/*
font-family: 'Titillium Web', sans-serif;
  regular - 400
  semibold - 600
  bold - 700
font-family: 'Open Sans', sans-serif;
  regular - 400
  bold - 700
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #707070;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #707070; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #155B79;
  text-decoration: none;
}

A:hover, A:active {
  color: #F15928;
  text-decoration: none;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

A.social:link, A.social:visited {
  color: #FFFFFF;
  line-height: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  border-top-right-radius: 0;
}

A.linkedin:link, A.linkedin:visited { background: #0093CC; }

A.social:hover, A.social:active {
  background: #27AAE1;
}

.dw-header {
  background: #155B79;
  color: #FFFFFF;
  border-bottom: 1px solid #061921;
}

.dw-header .site-width {
  height: 129px;
}

.header-left {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-right {
  float: right;
  text-align: right;
  height: 129px;
  position: relative;
  width: 70%;
}

.top-menu {
  font-weight: 600;
  color: #26A5DB;
  padding-top: 0.8em;
}

.top-menu SPAN,
.top-menu SPAN A:link {
  font-weight: 700;
  color: #FFFFFF;
}

#menu-toggle,
#show-menu {
  display: none;
}

.menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu UL LI {
  float: left;
  margin-left: 2em;
  position: relative;
  z-index: 99;
  border-bottom: 5px solid transparent;
}

.menu UL LI:first-child {
  margin-left: 0;
}

.menu UL LI.mobile {
  display: none;
}

.menu UL LI:hover {
  border-bottom: 5px solid #27AAE1;
}

.menu UL LI A:link,
.menu UL LI A:visited,
.menu UL LI:hover A {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 0.9em;
  display: block;
}

.menu UL LI UL {
  display: none;
}

.menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 6px 0 0 0;
  padding: 0;
  list-style-type: none;
  background: #155B79;
}

.menu UL LI UL LI {
  float: none;
  margin-left: 0;
  border-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}

.menu UL LI UL LI:hover {
  border-bottom: 0;
}

.menu UL LI UL LI A:link,
.menu UL LI UL LI A:visited {
  display: block;
  white-space: nowrap;
  line-height: 1em;
  padding: 0.5em 1em;
}

.menu UL LI UL LI A:hover,
.menu UL LI UL LI A:active {
  background: #27AAE1;
}

.cycle-slideshow > DIV {
  width: 100%;
  height: 645px;
  background-position: center top;
  background-size: cover;
}

.cycle-slideshow .site-width {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFFFFF;
  font-size: 175%;
  line-height: 1.2em;
}

.cycle-slideshow .site-width H2 {
  margin: 0 0 0.1em;
  font-weight: 600;
  font-size: 378%;
  line-height: 1em;
}

.cycle-slideshow .site-width H3 {
  margin: 0 0 0.8em;
  font-weight: 600;
  font-size: 186%;
  line-height: 1.1em;
}

.cycle-slideshow .site-width .orange {
  font-weight: 600;
  font-size: 71.42%;
  line-height: 1.2em;
  color: #F05A29;
}

.cycle-slideshow .site-width .banner-logos {
  margin-top: 1.2em;
}

.cycle-slideshow .site-width A:link,
.cycle-slideshow .site-width A:visited {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  padding: 0.2em 1em;
  margin-top: 1.2em;
  display: inline-block;
  border: 4px solid #F05A29;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.cycle-slideshow .site-width A:hover,
.cycle-slideshow .site-width A:active {
  color: #27AAE1;
  border-color: #FFFFFF;
}

.cycle-slideshow .site-width A.more-bike {
  margin-top: 2.5em;
}

.cycle-pager {
  position: absolute;
  top: 50%;
  right: calc(50% - 530px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 500;
}

.cycle-pager SPAN {
  margin: 0.3em 0;
  width: 8px;
  height: 8px; 
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background: transparent;
}

.cycle-pager SPAN.cycle-pager-active { background: #BDBDBD; }

.banner {
  background: #27AAE1;
  color: #155B79;
  font-weight: 600;
  font-size: 181.25%;
  line-height: 1em;
  padding: 0.7em 0;
}

.banner .one-third {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  margin-right: 0;
  border-left: 1px solid #155B79;
  padding: 0.23em 0;
  text-align: center;
}

.banner .one-third:first-child {
  border: 0;
  text-align: left;
}

.banner A:link,
.banner A:visited {
  color: #0E3749;
}

.banner A:hover,
.banner A:active {
  color: #155B79;
}

.banner A IMG {
  vertical-align: -15%;
}

.wichmans {
  height: 658px;
  background: #18698B url(../images/wichmans.jpg) bottom center no-repeat;
  color: #082633;
  border-bottom: 1px solid #1F80A9;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(20,89,118,0.65);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(20,89,118,0.65);
  box-shadow: inset 0 7px 9px -4px rgba(20,89,118,0.65);
}

.wichmans .site-width {
  padding-top: 2.5em;
}

.wichman-left {
  float: left;
  width: 50%;
  padding-top: 1.5em;
}

.wichman-right {
  float: right;
  width: 50%;
  text-align: right;
}

.wl-wrap {
  float: right;
  -webkit-shape-outside: polygon(60% 3.5em, 60% 100%, 0 100%);
  shape-outside: polygon(60% 3.5em, 60% 100%, 0 100%);
  width: 100%;
  height: 200px;
}

.wr-wrap {
  float: left;
  -webkit-shape-outside: polygon(0 3.5em, 40% 3.5em, 100% 100%, 0 100%);
  shape-outside: polygon(0 3.5em, 40% 3.5em, 100% 100%, 0 100%);
  width: 100%;
  height: 200px;
}

.wichmans H5 {
  margin: 0 0 0.5em;
  font-weight: 600;
  font-size: 143.75%;
  line-height: 1em;
  color: #EBEBEB;
}

.wichmans A.social:link,
.wichmans A.social:visited {
  font-size: 120%;
  margin: 1.8em 0;
}

.wichmans A.more:link,
.wichmans A.more:visited {
  background: #0E3749;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  padding: 0.3em 0.9em;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.wichmans A.more:hover,
.wichmans A.more:active {
  background: #27AAE1;
}

.content {
  color: #ACACAC;
  font-size: 106.25%;
}

.news-home {
  background: #1F80A9;
  color: #FFFFFF;
}

.testimonials {
  background: #F1F2F2;
  color: #464646;
}



@media only screen and (max-width: 1086px) {
  .cycle-pager {
    right: 0.5%;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .site-width {
    width: 96%;
  }

  .header-right {
    width: auto;
  }

  #menu-toggle {
    display: block;
    cursor: pointer;
    margin-top: 25px;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 200;
  }

  #menu-toggle:before {
    content: "MENU";
    position: relative;
    top: 17px;
    margin-right: 0.3em;
  }

  #menu-toggle:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
    position: relative;
    top: 17px;
  }

  #show-menu:checked + #menu-toggle:before {
    content: "CLOSE";
  }

  #show-menu:checked + #menu-toggle:after {
    content: "\f00d";
  }

  #show-menu:checked + #menu-toggle + .menu {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 130px;
    left: 0;
    z-index: 999;
  }

  .menu UL {
    background: #155B79;
    background: rgba(21,91,121,0.95);
  }

  .menu UL LI {
    float: none;
    margin-left: 0;
    border-bottom: 0;
  }

  .menu UL LI:hover {
    border-bottom: 0;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI:hover A,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited {
    padding: 0.6em 0;
    text-align: center;
    background: transparent;
  }

  .menu UL LI A:hover,
  .menu UL LI A:active,
  .menu UL LI UL LI A:hover,
  .menu UL LI UL LI A:active {
    color: #27AAE1;
  }

  .menu UL LI A.drop:after {
    font-family: FontAwesome;
    content: '\f107';
    color: #27AAE1;
    margin-left: 0.5em;
  }

  .menu UL LI:hover UL {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    background: transparent;
  }

  .banner {
    font-size: 140%;
  }

  .banner A IMG {
    height: 1em;
    width: auto;
  }

  .wichmans {
    height: 520px;
    background-size: 100% auto;
  }

  .wichmans .site-width {
    padding-top: 1.5em;
  }

  .wichman-left {
    padding-top: 2em;
  }

  .wl-wrap, .wr-wrap {
    height: 240px;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .cycle-slideshow .site-width H3 {
    margin: 0 0 0.4em;
    line-height: 1em;
  }

  .cycle-slideshow .site-width .banner-logos,
  .cycle-slideshow .site-width A:link,
  .cycle-slideshow .site-width A:visited {
    margin-top: 1em;
  }

  .banner {
    font-size: 181.25%;
    padding: 0;
  }

  .banner A IMG {
    height: auto;
  }

  .banner .one-third {
    float: none;
    width: 100%;
    border-left: 0;
    border-top: 1px solid #155B79;
    padding: 0.9em;
  }

  .banner .one-third:first-child {
    text-align: center;
  }

  .wichmans {
    height: 400px;
    background-size: 94% auto;
  }

  .wichman-left {
    width: 45%;
    padding-top: 1em;
  }

  .wichman-right {
    width: 45%;
  }

  .wl-wrap {
    -webkit-shape-outside: polygon(100% 1em, 100% 100%, 0 100%);
    shape-outside: polygon(100% 1em, 100% 100%, 0 100%);
    height: 220px;
  }

  .wr-wrap {
    -webkit-shape-outside: polygon(0 1em, 100% 100%, 0 100%);
    shape-outside: polygon(0 1em, 100% 100%, 0 100%);
    height: 220px;
  }

  .wichmans H5 {
    font-size: 112%;
    margin-bottom: 0.2em;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .header-left {
    width: auto;
    width: 60%;
  }

  #logo {
    max-width: 100%;
    height: auto;
  }

  .header-right {
    position: static;
  }

  .top-menu {
    display: none;
  }

  #menu-toggle {
    margin-top: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #menu-toggle:before,
  #menu-toggle:after {
    top: 0;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI:hover A,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited {
    font-size: 160%;
  }

  .menu UL LI.mobile {
    display: block;
  }

  .menu UL LI.mobile A:link,
  .menu UL LI.mobile A:visited {
    color: #27AAE1;
  }

  .cycle-slideshow .site-width H2 {
    font-size: 250%;
    line-height: 0.9em;
    margin: 0 0 0.4em;
  }

  .cycle-slideshow .site-width H3 {
    font-size: 140%;
  }

  .cycle-slideshow .site-width .banner-logos,
  .cycle-slideshow .site-width A:link,
  .cycle-slideshow .site-width A:visited {
    margin-top: 0.2em;
  }

  .cycle-slideshow .site-width .banner-logos IMG {
    width: 31%;
    height: auto;
    vertical-align: middle;
  }

  .cycle-slideshow .site-width A.more-bike {
    margin-top: 2em;
  }

  .banner {
    font-size: 159%;
  }

  .banner A IMG {
    height: 1em;
  }

  .wichmans {
    height: 290px;
    font-size: 80%;
    line-height: 1.2em;
  }

  .wichman-left {
    width: 49%;
    padding-top: 0.5em;
  }

  .wichman-right {
    width: 48%;
  }

  .wl-wrap, .wr-wrap {
    height: 172px;
  }

  .wichmans H5 {
    font-size: 100%;
    margin-bottom: 0.2em;
  }

  .wichmans A.more:link,
  .wichmans A.more:visited {
    font-size: 80%;
    padding: 0.4em 0.9em;
  }
}

@media only screen and (max-width: 390px) {
  /* Small Phone */
  .wl-wrap, .wr-wrap {
    height: 215px;
  }

  .wichmans H5 {
    font-size: 82%;
  }

  .wichmans A.social:link,
  .wichmans A.social:visited {
    margin: 1em 0;
  }
}